{% extends "_base_vue.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{% static 'first_page.css'%}">
<head>
    <meta charset="UTF-8">
    <title>login page</title>
</head>
<div class="bg-img">
    <div class="content">
        <header> Login pooooooooo</header>
        <form method="POST" >
            {% csrf_token %}
            <div class="container">
                <div class="field">
                    <a1>Username</a1>
                    <input type="text" placeholder="Enter Username" name="username" required>
                </div>
                <div class="field">
                    <a1>Password</a1>
                    <input type="password" placeholder="Enter Password" name="password" required>
                </div>
                <div class="field">
                    <button type="submit">Login</button>
                </div>

                <p>Forgot <a href="#">password?</a></p>
                <div class="copyright">
                    <a href="/first_page" style="text-decoration: none; color: gray">back</a>
                </div>
            </div>


        </form>
    </div>
</div>
</html>