{% extends "_base_vue.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{% static 'first_page.css'%}">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<div class="bg-img">
    <div class= "content">
        <header> Register </header>
        <form method="POST">
            <div class="container">
                <div class="field">
                    <a1>First Name</a1>
                    <input type="text" placeholder="Enter Firstname" name="first_name" required>
                </div>
                <div class="field">
                    <a1>Last Name</a1>
                    <input type="text" placeholder="Enter Lastname" name="last_name" required>
                </div>
                <div class="field">
                    <a1>Email</a1>
                    <input type="email" placeholder="Enter Email" name="email" required>
                </div>
                <div class="field">
                    <a1>Username</a1>
                    <input type="text" placeholder="Enter Username" name="username" required>
                </div>
                <div class="field">
                    <a1>Password</a1>
                    <input type="password" placeholder="Enter Password" name="password" required>
                </div>
                <div class="field">
                    <a1>Confirm</a1>
                    <input type="password" placeholder="Confirm Password" name="confirm_password" required>
                </div>
                <div class="field">
                    <a1>Phone Number</a1>
                    <input type="number" placeholder="ex. 09121234567" name="phone_number" required>
                </div>
                <div class="field">
                    <a1>Gender</a1>
                    <select type="text"  name="gender" required>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="non-binary">Non-binary</option>
                        <option value="pns">Prefer not to say</option>
                    </select>
                </div>
                <div class="field">
                    <button type="submit">Register</button>
                </div>
                <div class="copyright">
                    <a href="/first_page" style="text-decoration: none; color: gray">back</a>
                </div>

            </div>
        </form>
    </div>
</div>

</html>